certifi==2023.7.22
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
Flask==2.0.3
Flask-WTF==1.0.1
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
Markdown==3.3.7
MarkupSafe==2.0.1
oauthlib==3.2.2
Pygments==2.14.0
requests==2.27.1
typing_extensions==4.1.1
urllib3==1.26.17
Werkzeug==2.0.3
WTForms==3.0.0
zipp==3.6.0
