<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <div class="container">
        <div class="labels">
            <input type="text" class="search-bar" placeholder="Search...">
            <p class="add-btn"><a class="btn" href="{{ url_for('create') }}">+ Add note</a></p>
            <p><a href="/">All notes</a></p>
            {%- if tags -%}
                {%- for tag in tags -%}
                    <p><a href="/tags/{{ tag }}">#{{ tag }}</a></p>
                {%- endfor -%}
            {%- endif -%}
        </div>
        <div class="content">
            <p>Are you sure you want to delete the note - <b>{{ heading }}</b></p>
            <form method = post novalidate>
                {{ form.csrf_token }}
                <input type="submit" value="Delete"/> <a class="btn" href="{{ url_for('read',file=file) }}">Cancel</a>
            </form>
        </div>
    </div>
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    </script>
</body>
</html>

